<div id="main-container">
  <div id="home">
    <div class="home-top flex-row">
      <svg>
        <line x1='0' y1='0' x2='100%' y2='100%' stroke="black" stroke-width="2"/>
       </svg>
      <svg>
        <line x1='0' y1='100%' x2='100%' y2='0' stroke="black" stroke-width="2"/>
     </svg>
    </div>
  
    <div id="home-menu" class="flex-row">
      <div>
        <h1>
          Hi,<br> 
          I'm<br>
          Ben.
        </h1>
      </div>
      <div>
        <ul>
          <li>About</li>
          <li>Projects</li>
          <li>Ramblings</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  
    <div class="home-bottom flex-row">
      <svg>
        <line x1='0' y1='100%' x2='100%' y2='0' stroke="black" stroke-width="2"/>
     </svg>
      <svg>
        <line x1='0' y1='0' x2='100%' y2='100%' stroke="black" stroke-width="2"/>
       </svg>
    </div>
  </div>

  <div id="about">
    <div id="about-top" class="flex-row">
      <svg id="left">
        <line x1='0' y1='0' x2='100%' y2='100%' stroke="black" stroke-width="2"/>
       </svg>
      <svg id="right">
        <line x1='0' y1='100%' x2='100%' y2='0' stroke="black" stroke-width="2"/>
     </svg>
    </div>
    <div id="about-top2" class="flex-row">
      <div id="left">
        <h1>
          About
        </h1>
      </div>
      <svg id="right">
        <line x1='0' y1='0' x2='100%' y2='100%' stroke="black" stroke-width="2"/>
     </svg>
    </div>
    <div id="about-body">
      <img class="left" src="assets/images/ben1.jpeg" alt="Ben 1">      
        Hello! My name is Ben. I am a professional full-stack software engineer with experience working with clients in the energy, 
        professional services, and fast food sectors. I'm also a licensed real estate professional in the state of Georgia occasionally still transact business there.
        I hold degrees in computer science and business administration from the University of Georgia. In my spare time, I really enjoy working on projects (like this website!),
        making music, checking out new restaurants, and training Brazilian Jiu Jitsu. 
        <img class="right" src="assets/images/ben2.jpg" alt="Ben 2"> 
        I'm also interested in fashion and interior design.  
        I was born in the small city of Syracuse, New York, where I spent about half of my life before moving to Georgia and then finally to Houston, Texas. 
    </div>
    <div id="about-bottom">
      <svg>
        <line x1='0' y1='0' x2='100%' y2='100%' stroke="black" stroke-width="2"/>
       </svg>
    </div>
  </div>
  <div id="projects">
    <div class="top-decoration">
      <svg>
        <line x1='0' y1='100%' x2='100%' y2='0' stroke="black" stroke-width="2"/>
      </svg>
    </div>
    <div id="body">
      <h1>Projects</h1>

    </div>
    <div id="bottom-decoration">

    </div>

  </div>

</div>